@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
  background-color: #FFBB33;
}

input {
  display: block;
  margin: 3px;
  padding: 3px;
}

.sign-up {
  display: block;
}

.sign-in {
  display: block;
  float: right;
}

.success {
  color: green;
}

.failure {
  color: red;
}

#sign-in-message {
  text-align: center;
  margin: 0 auto;
}

#sign-out {
  margin-bottom: 25px;
}

#message {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

#winning-message {
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
}

.turn-message {
  display: block;
  margin: 15px;
}

.start {
  width: 200px;
  text-align: center;
  margin: 4px auto;
}

.stats {

}

.total-game-message {
  margin: 8px;
}

.container {
  display: flex;
}

.box {
  height: 20px;
  width: 50px;
  padding: 100px 0;
  text-align: center;
  font-size: 50px;
}

.box {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12vh;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  min-height: calc(100% / 3);
}
.box:nth-child(3n) {
  border-right: 0px;
}
.box:nth-last-child(-1n + 3) {
  border-bottom: 0px;
}

.row {
  // background: #ff0000;
  margin-bottom: 80px;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin: 0px auto;
  max-height: calc(100vh - 85px);
  max-width: calc(100vh - 75px);
}
 .square7 {
   border: solid black 1px;
 }

body {
  margin: 3px;
  min-height: 100vh;
  display: grid;
  background: rgba(100, 20, 45, 0.1)
}

.new-game {
  margin-bottom: 20px;
}

.bottom-section {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.turn-message {
  margin: 20px auto;
  font-size: 28px;
  border: 1px solid black;
  display: block;
}

button {
  margin: 3px;
  display: inline;
}

button:hover {
  background-color: rgba(40, 180, 100, 0.7);
}

#footer {
  position: static;
  display: block;
  margin-top: 110px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000707;
  color: white;
  text-align: center;
}
